version: '3'

services:
  homeassistant:
    restart: unless-stopped
    container_name: homeassistant
    image: "ghcr.io/home-assistant/home-assistant:${hass_version:-stable}"
    volumes:
      - hass_config:/config
      - /etc/localtime:/etc/localtime:ro
      - /run/dbus:/run/dbus:ro
    privileged: true
    network_mode: host

  matter-server:
    image: ghcr.io/home-assistant-libs/python-matter-server:${matter_version:-stable}
    restart: unless-stopped
    volumes:
      - matter_data:/data:rw
      - /run/dbus:/run/dbus:ro
    network_mode: host

volumes:
  hass_config:
  matter_data:
